﻿@{
    Layout = "_Layout";
}

@using BON.FootbalPlayerInfoGrabber.WebPages.Models
@model IEnumerable<FootballPlayerPresentationModel>

    <form method="post" action="/Players/GetPlayerProviderPlayers">
        <div class="col-6">
            <div class="form-group">
                <label>Players provider url</label>
                <input class="form-control" id="url" name="providerUrl">
            </div>

            <button type="submit" class="btn btn-primary" id="decryptDumpBtn">Get players</button>
        </div>
    </form>

<br />
<table class="table">
    <thead>
        <tr>
            <th scope="col">Image</th>
            <th scope="col">Name</th>
            <th scope="col">Games</th>
            <th scope="col">Goals</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var player in Model)
        {
            <tr>
                <td>
                    <img src=@player.ImageUrl />
                </td>
                <td>@player.Name</td>
                <td>@player.Games</td>
                <td>@player.Goals</td>
            </tr>

        }
    </tbody>
</table>
